.divider {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 0%;
  padding: 0%;
  height: 100vh;
  width: 100%;
}

.dashboardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 51.61%;
  margin-top: 2%;
}

.scheduleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 48.39%;
  padding-bottom: 20px;
  background-color: #f5f9ff;
}

.dashboardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

.dashboardHeader h2 {
  color: #222658;
  font-weight: 600;
  font-size: 24px;
}

.dashboardHeader span {
  color: #222658;
  font-weight: 400;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.dashboardSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  position: relative;
  margin: 0%;
}

@media screen and (max-width: 1200px) {
  .dashboardContainer {
    margin-top: 18%;
  }

    .dashboardHeader {
    align-items: flex-start;
    gap: 10px;
  }

  .dashboardHeader h2 {
    font-size: 20px;
  }

  .dashboardHeader span {
    font-size: 12px;
  }

  .scheduleContainer {
    margin-top: 2%;
    width: 100%;
  }

  .dashboardSection {
    margin: 0%;
    padding: 0%;
  }
}

@media screen and (max-width: 952px) {
    .divider {
    flex-direction: column;
  }

  .dashboardContainer{
    margin-top: 16%;
    width: 100%;

  }

    .dashboardHeader {
    align-items: flex-start;
    gap: 10px;
  }

  .dashboardHeader h2 {
    font-size: 20px;
  }

  .dashboardHeader span {
    font-size: 12px;
  }

  .scheduleContainer {
    margin-top: 2%;
    width: 100%;
  }

  .dashboardSection {
    margin: 0%;
    padding: 0%;
  }

}

@media screen and (max-width: 768px) {
  .divider {
    flex-direction: column;
  }

  .dashboardHeader {
    align-items: flex-start;
    gap: 10px;
  }

  .dashboardHeader h2 {
    font-size: 20px;
  }

  .dashboardHeader span {
    font-size: 12px;
  }

  .scheduleContainer {
    margin-top: 25%;
    width: 100%;
  }

  .dashboardContainer {
    margin-top: 50%;
    width: 100%;
  }

  .dashboardSection {
    margin: 0%;
    padding: 0%;
  }
}

@media screen and (max-width: 600px) {
  .divider {
    flex-direction: column;
  }

  .dashboardHeader {
    align-items: flex-start;
    gap: 10px;
  }

  .dashboardHeader h2 {
    font-size: 20px;
  }

  .dashboardHeader span {
    font-size: 12px;
  }

  .scheduleContainer {
    margin-top: 5%;
    width: 100%;
  }

  .dashboardContainer {
    margin-top: 50%;
    width: 100%;
  }
}
